[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=SenseSlider
Exec=/usr/bin/python3 /home/pi/HATColourSlider/HATColourSlider.py
Terminal=false
Categories=Application
StartupNotify=true
Icon=/home/pi/HATColourSlider/HATColourSlider.png
